<html>
<head>
  <title>Visualisation Medicale</title>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <!-- //////////////////// XTK //////////////////////////-->
  <script type="text/javascript" src="javascripts/xtk_edge.js"></script>
  <script type="text/javascript" src="javascripts/xtk_xdat.gui.js"></script>

  <!--<script type="text/javascript" src="/javascripts/rendu2D.js"></script>-->
  <!-- //////////////////// RENDU UTILISANT XTK //////////////////////////-->
  <script type="text/javascript" src="javascripts/rendu2D2.js"></script>

  <!-- //////////////////// JQUERY //////////////////////////-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <!-- //////////////////// TABULOUS //////////////////////////-->
  <script type="text/javascript" src="/javascripts/tabulous.js"></script>
  <script type="text/javascript" src="javascripts/js.js"></script>


</head>

<body>
  <header>
   <p> DICOM Visualisation using XTK </p>
 </header>

 <div id="wrapper">

  <div id="tabs2">
	<ul>
	  <li><a href="#tabs-1" title="">Infos</a></li>
	  <li><a href="#tabs-2" title="">Liste</a></li>
	</ul>

	<div id="tabs_container">
	  <div id="tabs-1">
		<span> Patient Name: <%= name %> </span>  <br/>
		<span> Patient ID: <%= pid %> </span> <br/>
		<span> Patient Sex : <%= sex %> </span> <br/>
		<span> Image : <%= columns %> x <%= rows %> </span><br/>
		<span> PixelSpacing : <%= pixelspacing %> </span>
		<span> SliceLocation : <%= slicelocation %> </span>
	  </div>

	  <div id="tabs-2">
		<form>
		  <input type="checkbox" name="option1" value="Bones"> Bones<br>
		  <input type="checkbox" name="option1" value="Flesh"> Flesh<br>
		</form>
	  </div>
	</div><!--End tabs container-->

  </div><!--End tabs-->


  <section id="contenu">
  	<div id="renderContainer1">
		<div id="r1"></div>
		<div id="sliderR1"></div>
	</div>

	<div id="renderContainer2">
		<div id="r2"></div>
		<div id="sliderR2"></div>
	</div>

	<div id="renderContainer3">
		<div id="r3"></div>
		<div id="sliderR3"></div>
	</div>

	<div id="renderContainer4">
		<div id="r4"></div>
		<div id="sliderR4"></div>
	</div>	
  </section>

</body>
</html>
